<h1>Liste de statuts</h1>

<table>
  <tr>
    <th>Pseudo</th>
    <th>Statut</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statuses.each do |status| %>
  <tr>
    <td><%= status.name %></td>
    <td><%= status.content %></td>
    <td><%= link_to 'Voir', status %></td>
    <td><%= link_to 'Editer', edit_status_path(status) %></td>
    <td><%= link_to 'Supprimer', status, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau Statut', new_status_path %>
